{
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "extends": ["plugin:vue/essential", "plugin:prettier/recommended", "eslint:recommended"],
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": ["jest", "prettier"],
  "settings": {
    "import/resolver": "webpack"
  }
}
